@{
    ViewData["Title"] = "Historico das Transações";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<HistoricoViewModel>
@{
    ViewBag.Title = "Historico das Transações";
}
<br />

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">Sem dados para fazer a exibição</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="danger">
                    <th data-defaultsign="1000">Transação ID</th>
                    <th data-defaultsign="AZ">Empresa</th>
                    <th data-defaultsign="AZ">Status</th>
                    <th data-defaultsign="2020">Atualização</th>
                </tr>
            </thead>

            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Empresa</td>
                    <td>@item.Status</td>
                    <td>@item.Update</td>
                </tr>
            }
        }
    </table>
</div>  