@{
    ViewData["Title"] = "Historico das Transações";
}
<h1>@ViewData["Title"]</h1>

@model HistoricoViewModel
@{
    ViewBag.Title = "Historico das Transações";
}
<br />

<form>
    <div class="row">
        <div class="form-group form-group-sm col-md-3">
            <label for="date">Filtro por Data </label>
            @Html.TextBox("date", null, new { @class = "form-control datepicker" })
        </div>
        <div class="col-md-3">
            <label for="listEmpresas" style="font-size: 18px">EMPRESAS </label>
            @Html.DropDownListFor(x => Model.EmpresaId, new SelectList(Model.Empresas, "Id", "Value"), htmlAttributes: new { @class = "form-control", id = "listEmpresas" })
        </div>
        <div class="col-md-3">
            <label for="listReservas" style="font-size: 18px">RESERVAS </label>
            @Html.DropDownListFor(x => Model.RevendaId, new SelectList(Model.Empresas, "Id", "Value"), htmlAttributes: new { @class = "form-control", id = "listReservas" })
        </div>
        <div class="col-md-3">
            <button type="button" style="float: right; margin-bottom: 8px; margin-top: 30px;" class="btn btn-primary" onclick="filter()">FILTRAR</button>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table id="tableHistorico"
           class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Retornos.Count() == 0)
        {
            <tr>
                <td colspan="10">Sem dados para fazer a exibição</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="danger">
                    <th data-defaultsign="1000">Id</th>
                    <th data-defaultsign="1000">Empresa</th>
                    <th data-defaultsign="1000">Revenda</th>
                    <th data-defaultsign="1000">Proposta</th>
                    <th data-defaultsign="1000">Parcela</th>
                    <th data-defaultsign="AZ">Data</th>
                    <th data-defaultsign="AZ">Cliente</th>
                    <th data-defaultsign="AZ">Valor</th>
                    <th data-defaultsign="AZ">Status</th>
                    <th data-defaultsign="2020">Ocorrencia</th>
                </tr>
            </thead>

            foreach (var item in Model.Retornos)
            {
    <tr>
        <td>@item.Id</td>
        <td>@item.Empresa</td>
        <td>@item.Revenda</td>
        <td>@item.Titulo</td>
        <td>@item.Parcela</td>
        <td>@item.InsertData</td>
        <td>@item.Cliente</td>
        <td>@item.Valor</td>

        @if (item.Status.Contains("GERADA"))
        {
    <td> <span style="background-color: green; color: white; padding: 4px;"> @item.Status </span></td> }
                        else
                        {
    <td onclick="openError(@item.OcorrenciaCampos)" style="cursor: pointer;">
        <span style="background-color: red; color: white; padding: 4px;">
            @item.Status
        </span>
    </td>}

        <td>@item.Ocorrencia</td>
    </tr>
            }
        }
    </table>
</div>

<script>
    function loading() {
        /*LOADING*/
        Swal.fire({
            title: 'Loading',
            didOpen: () => {
                Swal.showLoading()
            }
        });
    }

    function openError(error) {
        if (!error)
            error = "Sem campos a exibir";

        Swal.fire({
            icon: 'error',
            title: 'Falha no envio!',
            text: error,
            /* footer: '<a href="">Why do I have this issue?</a>'*/
        })
    }

    function filter() {

        const dateFilter = $('#date').val();

        if (dateFilter != null) {
            loading();
            var urlFilte = "https://localhost:44354/History?date=" + dateFilter;
            window.location.href = urlFilte;
        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'Dados Invalidos!',
                text: 'Por favor preecha o filtro.',
                /*footer: '<a href="">Why do I have this issue?</a>'*/
            })
        }
    }
</script>