@{ ViewData["Title"] = "Home Page"; }
@model HomeViewModel
<div class="text-center">
    <h1 class="display-4">Bank API Servopa</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>


<div class="row">
    <div class="col-2" style="float: right">
        <label for="listEmpresas" style="font-size: 18px">EMPRESAS </label>
    </div>
    <div class="col-2" style="float: right">
        @Html.DropDownListFor(x => Model.EmpresaId, new SelectList(Model.Empresas, "Id", "Nome"), htmlAttributes: new { @class = "form-control", id = "listEmpresas" })
    </div>
</div>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Numero da Empresa </label>
        <input type="text" class="form-control" id="EmpresaNome" aria-describedby="EmpresaNome" placeholder="Nome da Empresa">
        <small id="EmpresaNome" class="form-text text-muted">Por favor coloque aqui o nome da empresa a integrar.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Numero da Revenda </label>
        <input type="text" class="form-control" id="RevendaNome" aria-describedby="RevendaNome" placeholder="Nome da Revenda">
        <small id="RevendaNome" class="form-text text-muted">Por favor coloque aqui o nome da revenda a integrar.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Numero do Banco </label>
        <input type="text" class="form-control" id="BancoNumero" aria-describedby="BancoNumero" placeholder="Numero do Banco">
        <small id="BancoNumero" class="form-text text-muted">Por favor coloque aqui o numero do banco a integrar.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Numero do Departamento </label>
        <input type="text" class="form-control" id="DepartamentoNumero" aria-describedby="DepartamentoNumero" placeholder="Numero do Departamento">
        <small id="DepartamentoNumero" class="form-text text-muted">Por favor coloque aqui o numero do departamento a integrar.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Numero da Origem </label>
        <input type="text" class="form-control" id="OrigemNumero" aria-describedby="OrigemNumero" placeholder="Numero da Origem">
        <small id="OrigemNumero" class="form-text text-muted">Por favor coloque aqui o numero da origem a integrar.</small>
    </div>
    @*<div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>*@
<div class="row">
     @if (Model.EmpresaId != 0)
     {
                <div class="col-8"> </div>
                <div class="col-2" style="float: right">
                    <button type="button" style="float:right" class="btn btn-primary" onclick="salveData()">ATUALIZAR</button>
                </div>
                 <div class="col-2" style="float: right ">
                    <button type="button" style="float:right" class="btn btn-primary" onclick="addData()">ADICIONAR</button>
                  </div>
      }
      else
      {
                <div class="col-10"> </div>
                 <div class="col-2" style="float: right ">
                      <button type="button" style="float:right" class="btn btn-primary" onclick="addData()">ADICIONAR</button>
                 </div>
      }

 </div>
</form>

<script>
    @*var empresa = @Html.Raw(Json.Encode(Model.Nome));
    var revenda = @Html.Raw(Json.Encode(Model.Revenda));*@
    window.onload = function () {
        $('#EmpresaNome').val('@Model?.MainEmpresa?.Nome');
        $('#RevendaNome').val('@Model?.MainEmpresa?.Revenda');
        $('#BancoNumero').val('@Model?.MainEmpresa?.Banco');
        $('#DepartamentoNumero').val('@Model?.MainEmpresa?.Departamento');
        $('#OrigemNumero').val('@Model?.MainEmpresa?.Origem');
    };


    function loading() {
        /*LOADING*/
        Swal.fire({
            title: 'Loading',
            didOpen: () => {
                Swal.showLoading()
            }
        });
    }

    function validaData() {

        const empresaNome = $('#EmpresaNome').val();
        const revendaNome = $('#RevendaNome').val();
        const bancoNumero = $('#BancoNumero').val();
        const departamentoNumero = $('#DepartamentoNumero').val();
        const origemNumero = $('#OrigemNumero').val();

        if (!empresaNome) {
            Swal.fire({
                icon: 'error',
                title: 'Dados Invalidos!',
                text: 'Por favor preecha o nome da empresa.',
                /*footer: '<a href="">Why do I have this issue?</a>'*/
            })
            return false;
        }

        if (!revendaNome) {
            Swal.fire({
                icon: 'error',
                title: 'Dados Invalidos!',
                text: 'Por favor preecha o nome da revenda.',
                /*footer: '<a href="">Why do I have this issue?</a>'*/
            })
            return false;
        }

        if (!bancoNumero) {
            Swal.fire({
                icon: 'error',
                title: 'Dados Invalidos!',
                text: 'Por favor preecha o numero do banco.',
                /*footer: '<a href="">Why do I have this issue?</a>'*/
            })
            return false;
        }

        if (!departamentoNumero) {
            Swal.fire({
                icon: 'error',
                title: 'Dados Invalidos!',
                text: 'Por favor preecha o numero do departamento.',
                /*footer: '<a href="">Why do I have this issue?</a>'*/
            })
            return false;
        }

        if (!origemNumero) {
            Swal.fire({
                icon: 'error',
                title: 'Dados Invalidos!',
                text: 'Por favor preecha o numero da origem.',
                /*footer: '<a href="">Why do I have this issue?</a>'*/
            })
            return false;
        }

        return true;

    }

    function addData() {

        const empresaNome = $('#EmpresaNome').val();
        const revendaNome = $('#RevendaNome').val();
        const bancoNumero = $('#BancoNumero').val();
        const departamentoNumero = $('#DepartamentoNumero').val();
        const origemNumero = $('#OrigemNumero').val();

        if (validaData()) {
            loading();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Salvar", "Home")",
                data: { empresa: empresaNome, revenda: revendaNome, banco: bancoNumero, departamento: departamentoNumero, origem: origemNumero },
                success: function (result) {
                    Swal.close();
                    debugger
                    if (result.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Dados inseridos com sucesso!',
                            /*text: 'Por favor preecha o nome da revenda.',*/
                            /*footer: '<a href="">Why do I have this issue?</a>'*/
                        })
                        setTimeout(redirect(result.id), 400);

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Dados Invalidos!',
                            text: 'Infelizmente não conseguimos salvar os dados, por favor contacte o administrador do sistema!',
                            /*footer: '<a href="">Why do I have this issue?</a>'*/
                        })
                    }
                }
            });
        }
    }

    function salveData() {

        const empresaNome = $('#EmpresaNome').val();
        const revendaNome = $('#RevendaNome').val();
        const bancoNumero = $('#BancoNumero').val();
        const departamentoNumero = $('#DepartamentoNumero').val();
        const origemNumero = $('#OrigemNumero').val();

        if (validaData()) {
            loading();
            $.ajax({
                type: "POST",
                url: "@Url.Action("Salvar", "Home")",
                data: { id: '@Model?.MainEmpresa?.Id', empresa: empresaNome, revenda: revendaNome, banco: bancoNumero, departamento: departamentoNumero, origem: origemNumero },
                success: function (result) {
                    Swal.close();
                    if (result.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Dados atualizados com sucesso!',
                            /*text: 'Por favor preecha o nome da revenda.',*/
                            /*footer: '<a href="">Why do I have this issue?</a>'*/
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Dados Invalidos!',
                            text: 'Infelizmente não conseguimos salvar os dados, por favor contacte o administrador do sistema!',
                            /*footer: '<a href="">Why do I have this issue?</a>'*/
                        })
                    }
                }
            });
        }
    }

    function redirect(id) {
        console.log(id);
        window.location.href = 'https://' + window.location.host + "?id=" +  id
    }
</script>
